html, body{
    background-color: #31333b;
    color: white;
    margin: 0;
    scroll-behavior: smooth;
    -webkit-user-select: unset;
}

.mousePointer {
    position: absolute;
    background-color: #f2f2f200;
    backdrop-filter: invert();
    filter: sepia();
    width: 40px;
    height: 40px;
    border-radius: 20px;
    z-index: 100000;
    pointer-events: none; /* This allows clicking through the element */
}


#whoAmI{
    width: 100%;
    height: 720px;
    background-color: #34353a;  
    box-shadow: #1b181b 0px -10px 30px;
    background-image: url("../images/me.png");
    background-size: 700px;
    background-position: 100% 70px;
    background-repeat: no-repeat
}


.navigation{
    position: sticky;
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between; /* Changed from center to space-between */
    backdrop-filter: blur(5px);
    
}

.navigation #logo{
    padding: 5px;
    padding-left: 60px;

    width: 70px;
}

.navigation .links{
}

.navigation .links ul{
}

.navigation .links ul li{
    list-style: none;
    display: inline; /* Added display: inline; to make list items inline */
    margin-right: 20px; /* Added margin-right to separate list items */
    cursor: pointer;
}

.navigation .links ul li a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    cursor: pointer;

}

.navigation .links ul li a:hover{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(158, 158, 158);
    transition: 0.1s;
}

.navigation .links ul li a.link.active,
.navigation .links ul li a.active {
    color: rgb(255, 255, 255);
}


.navigation .searchBar > input {
    width: 120px; /* Anpassung der Breite */
    background-color: #3b3c40;
    border: none;
    padding: 10px;
    border-radius: 10px;
    position: relative; /* Positionierung für das Pseudoelement */
    padding-left: 30px; /* Platz für das Symbol */
}


.navigation .searchBar > input {
    color: rgb(136, 136, 136);
}



.navigation .searchBar{
    padding-right: 60px;
}


.headTextContainer{
    padding-top: 160px;
    padding-left: 100px;
    transition: 0.5s;

}

.headText {
    color: #ffe058;
    font-size: 44px;
    transition: 0.2s;    

}
.smallHeadText {
    color: #888888;
    font-size: 28px;
    padding-right: 10px;
}
.headTextContainer p{
    margin: 0;
    padding: 0;
    padding-top: 10px;
    color: lightgray;
    line-height: 30px;
    font-size: 20px;
    width: 340px;
    margin-bottom:30px;
    font-family: Arial, Helvetica, sans-serif;

}

.headTextContainer .contactMeButton{
    text-decoration: none;
    border-radius: 10px;
    padding: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: solid;
    color: #ffe058;
    border-color: #ffe058;
    font-family: Arial, Helvetica, sans-serif;

}

.linkContainer > .accentLineDownThin{
    margin-left: 50px;
    width: 3px;
    height: 100px;
    background-color: #ffe058;
}

.linkContainer {
    position: absolute;
    margin-top: -40px;
    right: 100px; 
    color: white;
    width: 40px;
    transition: 0.5s;

}


.linkContainer ul {
    list-style: none;
}
.linkContainer ul li a{
   color: white;
   fill: white;
   text-decoration: none;
}

.linkContainer ul li a > svg{
    width: 25px;
    transition: 0.5s;
 }
 

 .linkContainer ul li a > svg:hover{
    width: 30px;
 }




.sectionTitle{
    margin: 0px;
}

#about{
    padding: 100px;
    padding-top: 80px;
}

.lineHorizontalSmall{
    margin-top: 10px;
    position: absolute;
    width: 42px;
    height: 3px;
    background-color: #ffc14d;
}

.sectionTitle{
    font-size: 40px;
    padding-bottom: 10px;
}

.center{
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
}


.offsetUp{
    position: absolute;
    margin-top: -25px;
}
.offsetUpStronger{
    
    margin-top: -50px;
}

.paragraph{
    padding-left: 50px;
    font-size: 18px;

}

.highlight{
    color: #ffe058;
}

#mySkills{
    background-color: #31333b;
    padding-bottom: 100px;
}

.skillContainer {
    display: flex;
    flex-direction: row;
    max-width: 900px;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}


.skillCard {
    display: flex;
    justify-content: center;
    margin: 10px;
    position: relative; /* Füge eine relative Position hinzu, um das Positionieren des .skillName-Elements zu ermöglichen */
    background-color: #3d3e42;
    width: 200px;
    height: 200px;
    border-radius: 5px; /* Füge abgerundete Ecken hinzu */
    transition: background-color 0.2s; /* Füge den Übergang für die Hintergrundfarbe hinzu */
    overflow: hidden; /* Verhindere, dass der .skillName-Inhalt über den Rahmen hinausragt */
}

.skillCard:hover {
    background-color: #ffc14d;
}

.skillCard .icon img {
    width: 100px;
    height: 100px;
}

.skillCard .icon {
    justify-self: center;
    align-items: center;
    align-self: center;
    padding-bottom: 20px;
    width: 50%; /* Ändere die Breite des .icon-Elements auf 100% */
    height: fit-content; /* Ändere die Höhe des .icon-Elements auf 100% */
    display: flex; /* Zentriere das Bild innerhalb des .icon-Elements */
    justify-content: center;
    align-items: center;
}

.skillCard .skillName {
    position: absolute;
    bottom: 10px; /* Ändere den Abstand zum unteren Rand des .skillCard-Elements */
    left: 0; /* Zentriere den Text horizontal */
    width: 100%; /* Ändere die Breite des .skillName-Elements auf 100% */
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    pointer-events: none; /* Verhindere, dass das .skillName-Element die Mausereignisse abfängt */
}

#experience {
    
    padding-left: 100px;
    min-height: 420px;
    background-color: #3d3e42;
    box-shadow: #313235 0px 0px 30px;

}

#experience > .content {
    padding-top: 70px;
    font-size: 17px;
    display: flex;
    justify-content: start;
}

#experience .timeSpan {
    margin-top: 9px;
    width: 35px;
}

#experience .timeText {
    margin: 0px;
    padding: 0;
    width: 100%;
    height: 140px;
}


.textContainer {
    padding-left: 10px;
    width: 80%;
    max-width: 600px;
    height: 290px;
    justify-self: center;
    font-size: 17px;
}



.textContainer .title {
    
    font-size: 25px;
    margin:0px;
    padding: 0px;
}

.textContainer .moreInfo{
    color: #e5e5e5;
    margin: 5px;
}

.timeSpanLineDown{
    margin: 10px;
    position: relative;
    width: 3.5px;
    border-radius: 1px;
    height: 100px;
    filter: blur(0px);
    background-color: #ffe058;
}



#contactMe .sectionTitle {
    font-size: 40px; /* Du kannst hier die gewünschte Größe einstellen */
    padding-bottom: 10px;
    margin-top: -25px;
}



#contactMe{
    margin-top: 40px;
    align-items: start;
    justify-content: center;
    background-color: #31333b;

    min-height: 150px;
}

#contactMe > .content {
    margin-top: 40px;
    padding: 100px;
    padding-top: 30px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center; /* Zentriere horizontal */
    align-items: center; /* Zentriere vertikal */
    flex-wrap: wrap;
}

#contactMe > .content > .contactOptions {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Zentriere horizontal */
    align-items: center; /* Zentriere vertikal */
    border-style: dashed;
    border-radius: 10px;
    padding: 20px;
    border-width: 2px;
    border-color: #ffe058;
}

#contactMe > .content > .contactOptions > .contactOption{
    width: 265px;
    height: 30px;
    margin: 5px;
    background-color: #2c2d35;
    padding: 10px;
    border-radius: 10px;
    color: #ffe058;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
}

#contactMe > .content > .contactOptions > .contactOption > .icon{
    width: 18px;
    padding-right: 10px;
    fill: white;

}

#contactMe > .content > .contactOptions > .contactOption > a{
    
    align-self: center;
    text-decoration: none;
    color: #ffe058;

}


@media only screen and (min-width: 1400px) {
    .headTextContainer {
      margin-left: 10%;
      transition: 0.5s;
    }

    .headText{
        font-size: 60px;
        transition: 0.6s;
    }
  }

  
@media only screen and (max-width: 610px) {
    .searchBar {
      display: none;
      transition: 0.2s;
    }

    .headTextContainer{
        margin-top: 40px;
        margin-left: -60px;
        transition: 0.6s;
    }
  }